﻿@model BookStore.Models.PublisherVM

@{
    ViewBag.Title = "Thêm NXB/NSX";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<form action="/Staff/AddPublisher" method="post" id="myForm">
    @Html.HiddenFor(model => model.Publisher.ID)
    @Html.HiddenFor(model => model.Success, new { id = "Success" })
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Breadcrumb-->
                    <nav aria-label="breadcrumb" role="navigation" style="margin-top: 20px">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/Staff/">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/Staff/ListPublisher/">Quản lý NXB/NSX</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                    <!-- End Breadcrumb-->
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:rgb(1, 85, 180); color:aliceblue">
                    <i class="fa fa-tasks fa-fw"></i> @ViewBag.Title
                    <div class="pull-right">
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Tên</label>
                                <input type="text" id="Publisher.Name" name="Publisher.Name" class="form-control" placeholder="Tên NXB/NSX">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Địa chỉ</label>
                                <input type="text" id="Publisher.Address" name="Publisher.Address" class="form-control" placeholder="Địa chỉ NXB/NSX">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" id="Publisher.Email" name="Publisher.Email" class="form-control" placeholder="Email NXB/NSX">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Code</label>
                                <input type="text" id="Publisher.Code" name="Publisher.Address" class="form-control" placeholder="Code">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Mô tả</label>
                                <textarea id="Publisher.Description" placeholder="Mô tả" name="Publisher.Description" class="form-control" rows="5" style="resize:none;overflow:hidden"></textarea>
                            </div>
                        </div>
                    </div>
                    <button id="btnSubmit" type="button" onclick="submitWithValidation()" class="btn btn-primary">Thêm</button>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div id="snackbar"></div>
</form>


<script src="~/Assets/js/jquery.js"></script>
<script src="~/Assets/js/moment.js"></script>
<script src="~/Scripts/helper.js"></script>
<script src="~/Scripts/helper-2.js"></script>

<script>

    $(document).ready(function () {
        RestrictInputText('Publisher\\.Name', 'Hệ thống');
    })

    function submitWithValidation() {

        var error = "";
        var name = $("#Publisher\\.Name").val();

        if (!name || name == "") {
            error += "<div>Tên không hợp lệ</div>";
        }

        if (error == "") {
            alert("Thành công");
            $("#myForm").submit();
        }
        else {
            showSnackbar("snackbar", error);
        }
    }
</script>