﻿@model BookStore.Models.ProductVM
@using BookStore.Helpers

@{
    ViewBag.Title = "Sửa thông tin sản phẩm";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

@section AddToHead {
    <link href="~/Assets/css/input-image.css" rel="stylesheet" type="text/css">
}

<form action="/Staff/EditProduct" method="post" id="myForm">
    @Html.HiddenFor(model => model.Product.ID, new { id = "productId" })
    @Html.HiddenFor(model => model.Success, new { id = "Success" })
    <input id="avatarImage" type="text" name="Product.AvatarImage" value="@Model.Product.AvatarImage" class="inputfile" />
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Breadcrumb-->
                    <nav aria-label="breadcrumb" role="navigation" style="margin-top: 20px">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/Staff/">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/Staff/ListProduct/">Quản lý sản phẩm</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                    <!-- End Breadcrumb-->
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:rgb(1, 85, 180); color:aliceblue">
                    <i class="fa fa-tasks fa-fw"></i> @ViewBag.Title
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Tên</label>
                                <input type="text" id="Product.Name" name="Product.Name" value="@Model.Product.Name" class="form-control" placeholder="Tên sản phẩm">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Tồn kho</label>
                                <input type="number" id="Product.InStock" name="Product.InStock" value="@Model.Product.InStock" class="form-control" />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Đơn vị</label>
                                @Html.DropDownListFor(model => model.Product.Unit, new SelectList(Model.DropdownUnit, "Key", "Value", Model.Product.Unit), null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Giá nhập</label>
                                <input type="number" step="10000" id="Product.CostPrice" name="Product.CostPrice" value="@Model.Product.CostPrice" class="form-control" placeholder="VND">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Giá bán</label>
                                <input type="number" step="10000" id="Product.Price" name="Product.Price" value="@Model.Product.Price" class="form-control" placeholder="VND">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Loại</label>
                                @Html.DropDownListFor(model => model.ProductType, new SelectList(Model.DropdownType, "Key", "Value", Model.ProductType), null, htmlAttributes: new { id = "dlLoai", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Mục</label>
                                @Html.DropDownListFor(model => model.Product.CategoryId, new SelectList(Model.DropdownCategory, "Key", "Value", Model.Product.CategoryId), null, htmlAttributes: new { id = "dlMuc", @class = "form-control" })                               
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-horizontal">
                                <label>Tác giả</label>
                                <div class="form-group">
                                    <span class="col-lg-10">
                                        <input id="inputTacGia" type="text" class="form-control" placeholder="Tác giả" readonly />
                                    </span>
                                    <div class="col-lg-2">
                                        <button type="button" onclick="ShowModalTacGia()" class="btn btn-block">...</button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-horizontal">
                                <label>Hình shop</label>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label for="btnImageShop" class="form-control mylabel">Hình bổ sung</label>
                                        <button id="btnImageShop" type="button" class="inputfile" onclick="ShowModalShopImage()"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>Nhà XB/SX</label>
                                    @Html.DropDownListFor(model => model.Product.PublisherId, new SelectList(Model.DropdownPublisher, "Key", "Value", Model.Product.PublisherId), null, htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="col-lg-6">
                                    <label>Ngày xuất bản</label>
                                    <input type="date" id="Product.PublishedTime" name="Product.PublishedTime" value="@Model.Product.PublishedTime.ToString("yyyy-MM-dd")" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label>Code</label>
                                    <input type="text" id="Product.Code" name="Product.Code" value="@Model.Product.Code" placeholder="Code sản phẩm" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label>Mô tả</label>
                                    <textarea id="Product.Description" placeholder="Mô tả" name="Product.Description" class="form-control" rows="10" style="resize:none;overflow:hidden">@Model.Product.Description</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <div class="row col-lg-12">
                                        <label>Hình ảnh</label>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-9">
                                            <label for="uploadImage" class="form-control mylabel">Chọn hình đại diện</label>
                                            <input type="file" name="uploadImage" id="uploadImage" class="inputfile" accept=".jpeg, .jpg, .png" />
                                        </div>
                                        <div class="col-lg-3">
                                            <button type="button" onclick="ClearInputImage()" class="btn btn-warning col-lg-12">Xóa hình</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <div class="container">
                                        <img id="reviewImage" src="@HtmlExtensions.GetImagePath(Model.Product.AvatarImage, this.Context)" class="imagefit" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <button id="btnSubmit" type="button" onclick="submitWithValidation()" class="btn btn-primary">Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div id="snackbar"></div>

    <!------------------------------------------- MODAL TAC GIA ------------------------------------------------>
    <div class="modal" id="modalTacGia">
        <div class="modal-dialog" role="dialog" style="width:330px">
            <div class="modal-content">
                <div class="panel panel-default" style="margin-bottom:0">
                    <div class="panel-heading" style="background-color:rgb(1, 85, 180); color:aliceblue">
                        <i class="fa fa-tasks fa-fw"></i> Thêm tác giả
                        <button type="button" style="float:right" onclick="AddDropdownTacGia()" class="btn btn-xs btn-default">Thêm</button>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div id="listTacGia"></div>
                        </div>
                        <button type="button" onclick="ConfirmModalTacGia()" class="btn btn-primary">Xác nhận</button>
                        <button type="button" onclick="DeclineModalTacGia()" class="btn btn-danger">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="finalSubmit"></div>
    </div>
    <!------------------------------------------- END MODAL TAC GIA -------------------------------------------->

    <!------------------------------------------- MODAL SHOP IMAGE ------------------------------------------------>
    <div class="modal" id="modalShopImage">
        <div class="modal-dialog" role="dialog" style="width:50%">
            <div class="modal-content">
                <div class="panel panel-default" style="margin-bottom:0">
                    <div class="panel-heading" style="background-color:rgb(1, 85, 180); color:aliceblue">
                        <i class="fa fa-tasks fa-fw"></i> Thêm hình
                        <button type="button" style="float:right" onclick="NextImage()" class="btn btn-xs btn-default"> >> </button>
                        <button type="button" style="float:right; margin-right:7px" onclick="PreviousImage()" class="btn btn-xs btn-default"> << </button>
                        <button type="button" style="float:right; margin-right:7px" onclick="DeleteShopImage()" class="btn btn-xs btn-default"> Xóa </button>
                        <button type="button" style="float:right; margin-right:7px" onclick="AddShopImage()" class="btn btn-xs btn-default"> Thêm </button>
                        @*<label for="uploadShopImage" class="btn btn-default btn-xs mylabel" style="float:right; margin-right:7px"> Thêm </label>*@
                        @*<input type="file" name="uploadShopImage" id="uploadShopImage" class="inputfile" accept=".jpeg, .jpg, .png" />*@
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <div class="container">
                                        <img id="reviewShopImage" class="imagefit" />
                                    </div>
                                </div>
                            </div>
                            <div id="listShopImage"></div>
                        </div>
                        <button type="button" onclick="ConfirmModalShopImage()" class="btn btn-primary">Xác nhận</button>
                        @*<button type="button" onclick="DeclineModalShopImage()" class="btn btn-danger">Hủy</button>*@
                    </div>
                </div>
            </div>
        </div>
        <div id="containerShopImage">
            
        </div>
    </div>
    <!------------------------------------------- END MODAL SHOP IMAGE -------------------------------------------->
</form>


<script src="~/Assets/js/jquery.js"></script>
<script src="~/Assets/js/moment.js"></script>
<script src="~/Scripts/helper.js"></script>
<script src="~/Scripts/helper-2.js"></script>

<script>

    var imageChangeTrigger = false;
    var dlType = $('#dlLoai');
    var dlCategory = $('#dlMuc');
    var today = new Date();

    $(document).ready(function () {

        //if (checkBoolean($("#Success").val())) {
        //    showSnackbar("snackbar", "Sửa thông tin thành công");
        //}
        GetStoreTacGias();

        RestrictInputText("Product\\.Name", "Hệ thống");
        RestricInputNumber("Product\\.Price", 0, Infinity);
        RestricInputNumber("Product\\.CostPrice", 0, Infinity);
        RestricInputNumber("Product\\.InStock", 0, Infinity);
        RestrictInputDate("Product\\.PublishedTime", new Date(1970, 0, 1), today);

        GenerateDropdownCategory();
    })

    function GenerateDropdownCategory() {

        // Whenever dlType change value, we re-populate the dlCategory
        var onChangeFunction = function (typeId) {
            $.ajax({
                url: '/Staff/GetCategoryByType?typeId=' + typeId,
                data: 'GET',
                datatype: 'json',
                success: function (data) {
                    var rows = '';
                    $.each(data, function (i, item) {
                        rows = rows + '<option value="' + item.Key + '">' + item.Value + '</option>';
                    });
                    dlCategory.html(rows);
                }
            })
        }

        // Pass function to change
        dlType.change(function () {
            onChangeFunction(parseInt(dlType.val()));
        });

        // First time apply function, because onchange does not trigger
        //onChangeFunction(parseInt(dlType.val()));
    }

    function submitWithValidation() {

        var error = "";
        var name = $("#Product\\.Name").val();
        var price = $("#Product\\.Price").val();
        var inStock = $("#Product\\.InStock").val();

        if (!name || name == "") {
            error += "<div>Tên không hợp lệ</div>";
        }
        if (!price || (price < 0)) {
            error += "<div>Giá không hợp lệ</div>";
        }
        if (!inStock || inStock < 0) {
            error += "<div>Tồn kho không hợp lệ</div>";
        }

        if (error == "") {
            if (imageChangeTrigger) {
                UploadImage(function () {
                    GenerateForSubmit();
                    alert("Thành công");
                    $("#myForm").submit();
                });
            }
            else {
                GenerateForSubmit();
                alert("Thành công");
                $("#myForm").submit();
            }
        }
        else {
            showSnackbar("snackbar", error);
        }
    }

    $('#uploadImage').change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                imageChangeTrigger = true;
                selectedImage = e.target.result;
                $('#reviewImage').attr('src', selectedImage);
            };
            reader.readAsDataURL(this.files[0]);
        }
        else {
            $('#reviewImage').attr('src', '');
        }
    });

    function UploadImage(callback) {
        // Checking whether FormData is available in browser  

        if (window.FormData !== undefined) {

            var fileUpload = $("#uploadImage").get(0);
            var files = fileUpload.files;

            // Create FormData object  
            var fileData = new FormData();

            // Looping over all files and add it to FormData object  
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            // Adding one more key to FormData object  
            fileData.append('username', 'Manas');

            $.ajax({
                url: '/Staff/UploadFiles',
                type: "POST",
                contentType: false, // Not to set any content header  
                processData: false, // Not to process data  
                data: fileData,
                success: function (result) {
                    if (parseInt(result.Type) == 0) {
                        $('#avatarImage').val(result.StringValue);
                        callback();
                    }
                    else {
                        showSnackbar("snackbar", 'Lỗi khi upload hình');
                    }
                },
                error: function (err) {
                    alert("Here" + err.statusText);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    }

    function ClearInputImage() {
        ResetFormElement($('#uploadImage'));
        $('#reviewImage').attr('src', '');
        imageChangeTrigger = true;
    }

    function ResetFormElement(e) {
        e.wrap('<form>').closest('form').get(0).reset();
        e.unwrap();

        //// Prevent form submission
        //e.stopPropagation();
        //e.preventDefault();
    }

    // --------------------------- MODAL AUTHOR --------------------------------- //

    var tacGiaCount = 0;    // Để tạo id riêng biệt cho các tác giả
    var arrayTacGia = [];   // Lưu giá trị của các tác giả
    var storeTacGias = [];  // Gía trị của các tác giả hiện tại trong input tác giả

    function AddDropdownTacGia(value = -1) {
        $("#listTacGia").append(GenerateRowTacGia('dropdownTacGia', tacGiaCount, 'AddDropdownTacGia()', 'DeleteTacGia(' + tacGiaCount + ')'));
        PopulateDropdown('/Staff/DropdownAuthor', 'dropdownTacGia', tacGiaCount, value);
        arrayTacGia.push("dropdownTacGia" + tacGiaCount);
        tacGiaCount++;
    }

    function DeleteTacGia(index) {
        if (arrayTacGia.length > 0) {
            $("#rowdropdownTacGia" + index).remove();

            var deleteIndex = arrayTacGia.indexOf('dropdownTacGia' + index);
            if (deleteIndex != -1) {
                arrayTacGia.splice(deleteIndex, 1);
            }
        }
    }

    function GenerateForSubmit() {
        var rows = '';
        for (i = 0; i < storeTacGias.length; i++) {
            rows = rows + '<input name="Details[' + i + '].AuthorId" value="' + storeTacGias[i] + '" class="inputFile">'
        }
        $("#finalSubmit").html(rows);
    }

    function GetStoreTacGias() {
        $.ajax({
            url: '/Staff/GetStoreAuthor?id=' + parseInt($("#productId").val()),
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                var inputTacGiaValue = '';
                $.each(data, function (i, item) {
                    storeTacGias.push(item.Key);
                    inputTacGiaValue += ' [' + item.Value + '] ';
                });
                $('#inputTacGia').val(inputTacGiaValue);
            }
        });
    }

    function ConfirmModalTacGia() {
        $("#modalTacGia").modal('hide');

        var inputTacGiaValue = '';
        storeTacGias = [];

        for (i = 0; i < arrayTacGia.length; i++) {
            var flag = true;
            for (j = 0; j < storeTacGias.length; j++) {
                if ($('#' + arrayTacGia[i]).val() == storeTacGias[j]) {
                    flag = false;
                    break;
                }
            }

            if (flag == true) {
                storeTacGias.push($('#' + arrayTacGia[i]).val());
                inputTacGiaValue += ' [' + $('#' + arrayTacGia[i]).find(':selected').text() + '] ';
            }
        }
        $('#inputTacGia').val(inputTacGiaValue);
        ClearArrayTacGia();
    }

    function DeclineModalTacGia() {
        $("#modalTacGia").modal('hide');

        ClearArrayTacGia();
    }

    function ShowModalTacGia() {
        for (i = 0; i < storeTacGias.length; i++) {
            AddDropdownTacGia(storeTacGias[i]);
        }
        $('#modalTacGia').modal({ backdrop: 'static', keyboard: false });
    }

    function ClearArrayTacGia() {
        for (i = 0; i < arrayTacGia.length; i++) {
            $("#row" + arrayTacGia[i]).remove();
        }
        arrayTacGia = [];
    }

    // --------------------------- MODAL SHOP IMAGE --------------------------------- //

    var containerShopImage = $('#containerShopImage');
    var arrayShopImage = [];
    var currentShopImageIndex = 0;

    var shopReader = new FileReader();

    shopReader.onloadend = function () {
        $('#reviewShopImage').attr('src', shopReader.result);
    }

    function ShowModalShopImage() {
        
        $('#modalShopImage').modal({ backdrop: 'static', keyboard: false });
    }

    function ConfirmModalShopImage() {
        ClearArrayShopImage();
        $('#modalShopImage').modal('hide');
    }

    function DeclineModalShopImage() {
        $('#modalShopImage').modal('hide');
    }

    function NextImage() {
        if (arrayShopImage.length > 0) {
            if (currentShopImageIndex + 1 >= arrayShopImage.length) {
                currentShopImageIndex = 0;
            }
            else {
                currentShopImageIndex += 1;
            }
            TriggerShopImage(arrayShopImage[currentShopImageIndex]);
        }
        
    }

    function PreviousImage() {
        if (arrayShopImage.length > 0) {
            if (currentShopImageIndex - 1 < 0) {
                currentShopImageIndex = arrayShopImage.length - 1;
            }
            else {
                currentShopImageIndex -= 1;
            }
            TriggerShopImage(arrayShopImage[currentShopImageIndex]);
        }
    }

    function AddShopImage() {

        ClearArrayShopImage();

        var index = arrayShopImage.length;
       
        var row = '<input type="file" id="uploadShopImage' + index + '" class="absoluteInputFile" accept=".jpeg, .jpg, .png" />';
        containerShopImage.append(row);
        var upload = $('#uploadShopImage' + index);
        arrayShopImage.push(upload);

        upload.change(function () {
            TriggerShopImage(upload);
            currentShopImageIndex = arrayShopImage.length - 1; 
        })
        
        upload.click();
    }

    function TriggerShopImage(e) {
        if (e.get(0).files.length !== 0) {
            shopReader.readAsDataURL(e.get(0).files[0]);
        }
    }

    function ClearArrayShopImage(clear = false) {
        for (i = arrayShopImage.length - 1; i >= 0; i--) {
            var files = arrayShopImage[i].get(0).files;
            if (!files || files.length === 0) {
                arrayShopImage[i].remove();
                arrayShopImage.splice(i, 1);
            }
        }
        if (clear) {
            if (currentShopImageIndex >= arrayShopImage.length) {
                currentShopImageIndex = arrayShopImage.length - 1;
            }
            if (currentShopImageIndex >= 0) {
                TriggerShopImage(arrayShopImage[currentShopImageIndex]);
            }
        }
    }

    function DeleteShopImage() {
        ClearArrayShopImage();
        if (currentShopImageIndex >= 0 && currentShopImageIndex < arrayShopImage.length) {
            arrayShopImage[currentShopImageIndex].remove();
            arrayShopImage.splice(currentShopImageIndex, 1);
            if (currentShopImageIndex >= arrayShopImage.length) {
                currentShopImageIndex = arrayShopImage.length - 1;
            }
            if (currentShopImageIndex >= 0) {
                TriggerShopImage(arrayShopImage[currentShopImageIndex])
            }
            else {
                $('#reviewShopImage').attr('src', '');
            }
        }
    }
   
</script>