﻿@model BookStore.Models.AuthorVM
@using BookStore.Helpers

@{
    ViewBag.Title = "Sửa thông tin tác giả";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

@section AddToHead {
    <link href="~/Assets/css/input-image.css" rel="stylesheet" type="text/css">
}

<form action="/Staff/EditAuthor" method="post" id="myForm">
    @Html.HiddenFor(model => model.Author.ID)
    @Html.HiddenFor(model => model.Success, new { id = "Success" })
    <input id="avatarImage" type="text" name="Author.Image" value="@Model.Author.Image" class="inputfile" />
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Breadcrumb-->
                    <nav aria-label="breadcrumb" role="navigation" style="margin-top: 20px">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/Staff/">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/Staff/ListAuthor/">Quản lý tác giả</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                    <!-- End Breadcrumb-->
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:rgb(1, 85, 180); color:aliceblue">
                    <i class="fa fa-tasks fa-fw"></i> @ViewBag.Title
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label>Tên</label>
                                    <input type="text" id="Author.Name" name="Author.Name" value="@Model.Author.Name" class="form-control" placeholder="Tên tác giả">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label>Code</label>
                                    <input type="text" id="Author.Code" name="Author.Code" value="@Model.Author.Code" class="form-control" placeholder="Code">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label>Mô tả</label>
                                    <textarea id="Author.Description" placeholder="Mô tả" name="Author.Description" class="form-control" rows="10" style="resize:none;overflow:hidden">@Model.Author.Description</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <div class="row col-lg-12">
                                        <label>Hình ảnh</label>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-9">
                                            <label for="uploadImage" class="form-control mylabel">Chọn hình đại diện</label>
                                            <input type="file" name="uploadImage" id="uploadImage" class="inputfile" accept=".jpeg, .jpg, .png" />
                                        </div>
                                        <div class="col-lg-3">
                                            <button type="button" onclick="ClearInputImage()" class="btn btn-warning col-lg-12">Xóa hình</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <div class="container">
                                        <img id="reviewImage" src="@HtmlExtensions.GetImagePath(Model.Author.Image, this.Context)" class="imagefit" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button id="btnSubmit" type="button" onclick="submitWithValidation()" class="btn btn-primary">Lưu</button>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div id="snackbar"></div>
</form>


<script src="~/Assets/js/jquery.js"></script>
<script src="~/Assets/js/moment.js"></script>
<script src="~/Scripts/helper.js"></script>
<script src="~/Scripts/helper-2.js"></script>

<script>

    var imageChangeTrigger = false;

    $(document).ready(function () {
        RestrictInputText('Author\\.Name', 'Hệ thống');
    })

    function submitWithValidation() {

        var error = "";
        var name = $("#Author\\.Name").val();

        if (!name || name == "") {
            error += "<div>Tên không hợp lệ</div>";
        }

        if (error == "") {
            if (imageChangeTrigger) {
                UploadImage(function () {
                    alert("Thành công");
                    $("#myForm").submit();
                });
            }
            else {
                alert("Thành công");
                $("#myForm").submit();
            }
        }
        else {
            showSnackbar("snackbar", error);
        }
    }

    $('#uploadImage').change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                imageChangeTrigger = true;
                selectedImage = e.target.result;
                $('#reviewImage').attr('src', selectedImage);
            };
            reader.readAsDataURL(this.files[0]);
        }
        else {
            $('#reviewImage').attr('src', '');
        }
    });

    function UploadImage(callback) {
        // Checking whether FormData is available in browser  

        if (window.FormData !== undefined) {

            var fileUpload = $("#uploadImage").get(0);
            var files = fileUpload.files;

            // Create FormData object  
            var fileData = new FormData();

            // Looping over all files and add it to FormData object  
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            // Adding one more key to FormData object  
            fileData.append('username', 'Manas');

            $.ajax({
                url: '/Staff/UploadFiles',
                type: "POST",
                contentType: false, // Not to set any content header  
                processData: false, // Not to process data  
                data: fileData,
                success: function (result) {
                    if (parseInt(result.Type) == 0) {
                        $('#avatarImage').val(result.StringValue);
                        callback();
                    }
                    else {
                        showSnackbar("snackbar", 'Lỗi khi upload hình');
                    }
                },
                error: function (err) {
                    alert("Here" + err.statusText);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    }

    function ClearInputImage() {
        ResetFormElement($('#uploadImage'));
        $('#reviewImage').attr('src', '');
        imageChangeTrigger = true;
    }

    function ResetFormElement(e) {
        e.wrap('<form>').closest('form').get(0).reset();
        e.unwrap();
    }
</script>