﻿@*@model IEnumerable<BookStore.Models.Order>*@
@{
    ViewBag.Title = "Quản lý hóa đơn";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <!-- Breadcrumb-->
        <nav aria-label="breadcrumb" role="navigation" style="margin-top: 20px">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/Staff/">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
            </ol>
        </nav>
        <!-- End Breadcrumb-->
    </div>
</div>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("New", "Order")/'">Tạo đơn hàng mới</button>
@if (ViewBag.IsAdmin) { <text>
| Xem theo nhân viên: <select id="ddl_user" name="ddl_user" class="selectpicker" data-live-search="true"></select>
| Xem theo trạng thái: <select id="ddl_state" name="ddl_state"
        class="selectpicker" data-live-search="true"
        value="-2">
    <option value="-1">Toàn bộ</option>
    <option value="-2">Đang hoạt động</option>
    <option value="0">Mới tạo</option>
    <option value="1">Đã đóng gói</option>
    <option value="2">Đang giao</option>
    <option value="3">Hoàn tất</option>
    <option value="4">Chờ duyệt</option>
    <option value="5">Đã bị huỷ</option>
</select>
</text> } else {  <text>
| Các đơn hàng chưa thanh toán do bạn lập | Các đơn hàng qua mạng
</text>}
| <label id="error" style="color:blue">Đang tải...</label>

<div class="panel panel-default" style="margin-top:5px">
    <div class="panel-heading" style="background-color:rgb(1, 85, 180); color:aliceblue">
        <i class="fa fa-tasks fa-fw"></i> Quản lý đơn hàng
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body" >
        <div class="table-responsive" >
            <table class="table table-striped table-bordered table-hover" style="margin-bottom:0">
                <thead>
                    <tr>
                        <th class="col-md-1">
                            Mã đơn hàng
                        </th>
                        <th class="col-md-3">
                            Người thực hiện
                        </th>
                        <th class="col-md-2">
                            Trạng thái
                        </th>
                        <th class="col-md-1">
                            Ngày tạo
                        </th>
                        <th class="col-md-1">
                            Ngày giao
                        </th>
                        <th class="col-md-2">
                            Tổng tiền
                        </th>
                        <th class="col-md-2"></th>
                        <th style="width:16px"></th>
                    </tr>
                </thead>
            </table>
            <div style="height:300px;overflow: hidden; overflow-y:scroll;" id="div_table">
                <table class="table table-striped table-bordered table-hover" id="table_content">
                    <tbody id="list"></tbody>
                </table>
            </div>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>



<script src="~/Assets/js/jquery.js"></script>
<script src="~/Assets/js/moment.js"></script>
<script src="~/Scripts/helper.js"></script>
<script>
     // lúc đầu show web
    $(document).ready(function () {@if(ViewBag.IsAdmin){<text>
        populateDropdownNV();
        @*populateDropdownState();*@

        $("#ddl_user").change(function () {
            repopulateByFilter();
        });

        $("#ddl_state").val("-2");
        $("#ddl_state").selectpicker('refresh');
        $("#ddl_state").change(function () {
            repopulateByFilter();
        });

        repopulateByFilter();
        </text>}
    else { <text>listOrders();</text>}

        
        $("#error").html("Hệ thống sẵn sàng");
        $("#error").css({ 'color': 'blue' });
    })

    function listOrders() {

        $.ajax({// lấy dữ liệu từ link này
            url: '/Order/GetOrders/',
            type: 'GET',
            dataType: 'json',// kiểu dữ liệu: json
            success: function (data) {// lấy dữ liệu thành công
                populateListOrder(data);
            },
            error: function (err) {// lỗi
                alert(err.responseJSON);
                document.write(err.responseText);
            }
        });
    }

    function populateListOrder(data) {

        var rows = '';
        var nameUser = '';
        var status = '';
        var deliveryDate = '';
        $.each(data, function (i, item) {
            rows += generateCell(item.ID, 1);

            if (item.AnonymousUserId != null) {
                nameUser = "k: " + item.AnonymousUser.FirstName + " " + item.AnonymousUser.LastName;
                
            }
            else if (item.User != null) {
                nameUser = "nv: " + item.User.FirstName + " " + item.User.LastName;
            }
            else {
                nameUser = 'Không xác định';
            }
            rows += generateCell(nameUser, 3);

            switch (item.Status) {
                case 0:
                    status = 'Mới';
                    break;
                case 1:
                    status = 'Đã đóng gói';
                    break;
                case 2:
                    status = 'Đang giao';
                    break;
                case 3:
                    status = 'Hoàn tất';
                    break;
                case 4:
                    status = 'Chờ';
                    break;
                case 5:
                    status = 'Huỷ';
                    break;
            }
            rows += generateCell(status, 2);

            rows += generateCell(formatJsonNetDate(item.CreatedAt), 1);

            if (item.Status == 3) {
                deliveryDate = formatJsonNetDate(item.DeliveryDate);
            }
            else {
                deliveryDate = "";
            }
            rows += generateCell(deliveryDate, 1);

            rows += generateCell('<div style="float:right">' + item.TotalAmount.toLocaleString() + "</div>", 2);

            var str_button = generateButton('Chi tiết', 'info', "location.href='@Url.Action("Cashier", "Staff")/" + item.ID + "'");

            @if(ViewBag.IsAdmin)
            {<text>
            if (item.Status != 5) {
                str_button += ' ' + generateButton('Lưu trữ', 'basic', "archiveOrder(" + item.ID + ")");
            }

            </text>}
            rows += generateCell(str_button, 2);
            rows = '<tr>' + rows + '</tr>';
        });

        // sửa chỗ 'list' trong html
        $("#list").html(rows);

        scrollToBottom();
    }

    function scrollToBottom() {
        var scrollBottom = Math.max($('#table_content').height() - $('#div_table').height() + 20, 0);
        //$('#div_table').scrollTop(scrollBottom);

        $("#div_table").animate({ scrollTop: scrollBottom }, 500);
    }

    @if (ViewBag.IsAdmin) {<text>
    // show drop down nhan vien
    function populateDropdownNV() {

        $.ajax({// lấy dữ liệu từ link này
            url: '/Home/DropDownUser/',
            type: 'GET',
            dataType: 'json',// kiểu dữ liệu: json
            success: function (data) {// lấy dữ liệu thành công
                var rows = '<option value="">Toàn bộ</option>';

                $.each(data, function (i, item) {
                    rows += '<option value="' + item.Key + '">' + item.Value + '</option>';
                });
                // sửa chỗ 'listLuongs' trong html
                $("#ddl_user").html(rows);
                $("#ddl_user").selectpicker('refresh');

                
            },
            error: function (err) {// lỗi

                document.write(err.responseText);
            }
        });
    }

    @*// show drop down trang thai
    function populateDropdownState() {

        $.ajax({// lấy dữ liệu từ link này
            url: '/Order/DropDownOrderState/',
            type: 'GET',
            dataType: 'json',// kiểu dữ liệu: json
            success: function (data) {// lấy dữ liệu thành công
                var rows = '<option value="">Toàn bộ</option>';
                $.each(data, function (i, item) {
                    rows += '<option value="' + item.Key + '">' + item.Value + '</option>';
                });
                // sửa chỗ 'listLuongs' trong html
                $("#ddl_state").html(rows);
                $("#ddl_state").selectpicker('refresh');
                
            },
            error: function (err) {// lỗi

                document.write(err.responseText);

            }
        });
    }*@

        
    
    // delete order
    function archiveOrder(id) {
        var confirmDelete = confirm("Bạn có chắc là muốn lưu trữ");
        if (confirmDelete) {
            $.ajax({
                url: "/Order/ArchiveOrder/" + id,
                type: "POST",
                dataType: 'json',
                success: function (data) {

                    repopulateByFilter();

                    switch (data.Type) {
                        case 3: {
                            $("#error").html("Bạn đã lưu trữ thành công, id=" + id);
                            $("#error").css({ 'color': 'blue' });
                        }
                            break;
                        case 4: {
                            $("#error").html("Không hợp lệ");
                            $("#error").css({ 'color': 'red' });
                        }
                            break;
                    }
                },
                error: function (err) {
                    document.write("Error: " + err.responseText);
                }
            });
        }
    }

    function repopulateByFilter() {
        
        if ($("#ddl_user").val()) {
            var userId = $("#ddl_user").val();
        }
        else {
            var userId = -1;
        }
            
        if ($("#ddl_state").val()) {
            var state = $("#ddl_state").val();
        }
        else {
            var state = -1;
        }

        $.ajax({
            url: "/Order/FilterOrders?userId=" + userId + "&state=" + state,
            type: "POST",
            dataType: 'json',
            success: function (data) {
                populateListOrder(data);
            },
            error: function (err) {
                document.write("Error: " + err.responseText);
            }
        });

    }</text>}
</script>