﻿@model BookStore.Models.Product

@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <!-- Breadcrumb-->
        <nav aria-label="breadcrumb" role="navigation" style="margin-top: 20px">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/Staff/">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
            </ol>
        </nav>
        <!-- End Breadcrumb-->
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <label>Tìm kiếm</label>
        <select id="dlMainSearch" name="dlMainSearch" data-width="100%" class="selectpicker" data-live-search="true"></select>
    </div>
    <div class="col-md-2">
        <label>Bộ lọc</label>
        <select id="dlFilter" class="form-control">
            <option value="0">Tên</option>
            <option value="1">Mục</option>
            <option value="2">Nhà SX/XB</option>
        </select>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="panel panel-default" style="margin-top:30px">
        <div class="panel-heading" style="background-color:rgb(1, 85, 180); color:aliceblue">
            <i class="fa fa-tasks fa-fw"></i> Quản lý sản phẩm
            <div class="pull-right">
                <button type="button" style="background-color:white; color:black;margin-right:10px" class="btn btn-xs" onclick="fixCount()">
                    Cập nhật số lượng loại sản phẩm
                </button>
                <button type="button" style="background-color:white; color:black" class="btn btn-xs" onclick="location.href='@Url.Action("AddProduct", "Staff")'">
                    Thêm
                </button>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" style="margin-bottom:0">
                    <colgroup>
                        <col class="col-md-1" />
                        <col class="col-md-3" />
                        <col class="col-md-2" />
                        <col class="col-md-2" />
                        <col class="col-md-2" />
                        <col class="col-md-2" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên SP</th>
                            <th>Mục</th>
                            <th>Giá bán</th>
                            <th>Tồn kho</th>
                            <th></th>
                            <th style="width:16px"></th>
                        </tr>
                    </thead>
                </table>
                <div style="height:300px;overflow: hidden; overflow-y:scroll">
                    <table class="table table-striped table-bordered table-hover" style="table-layout:fixed; word-wrap: break-word">
                        <colgroup>
                            <col class="col-md-1" />
                            <col class="col-md-3" />
                            <col class="col-md-2" />
                            <col class="col-md-2" />
                            <col class="col-md-2" />
                            <col class="col-md-2" />
                        </colgroup>
                        <tbody id="list"></tbody>
                    </table>
                </div>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
</div>


<script src="~/Assets/js/jquery.js"></script>
<script src="~/Assets/js/moment.js"></script>
<script src="~/Scripts/helper.js"></script>

<script>

    var dlMainSearch = $("#dlMainSearch");
    var dlFilter = $("#dlFilter");
    var tableListSach = $("#list");

    $(document).ready(function () {
        GenerateSearch();
    });

    function GenerateSearch() {

        var onChangeFunction = function () {

            var filterValue = parseInt(dlFilter.val());

            var mainSeachOnChangeFunction = function () {
                var filterValue = parseInt(dlFilter.val());

                if (filterValue == 0) {
                    PopulateTable("/Staff/GetListProductByName?id=" + parseInt(dlMainSearch.val()));
                }
                else if (filterValue == 1) {
                    PopulateTable("/Staff/GetListProductByCategory?id=" + parseInt(dlMainSearch.val()));
                }
                else if (filterValue == 2) {
                    PopulateTable("/Staff/GetListProductByPublisher?id=" + parseInt(dlMainSearch.val()));
                }

            }

            dlMainSearch.change(mainSeachOnChangeFunction);

            if (filterValue == 0) {
                PopulateDropdownWithAny('/Staff/DropdownProduct', 'dlMainSearch', '', '', mainSeachOnChangeFunction);
            }
            else if (filterValue == 1) {
                PopulateDropdownWithAny('/Staff/DropdownCategory', 'dlMainSearch', '', '', mainSeachOnChangeFunction);
            }
            else if (filterValue == 2) {
                PopulateDropdownWithAny('/Staff/DropdownPublisher', 'dlMainSearch', '', '', mainSeachOnChangeFunction);
            }
        }

        dlFilter.change(onChangeFunction);

        onChangeFunction();
    }

    function fixCount() {
        $.ajax({
            url: '/Staff/FixCountCategory',
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                if (data.success) {
                    alert(data.text);
                }
            },
            error: function (err) {
                alert(err.responseJSON);
                document.write(err.responseText);
            }
        })
    }

    function PopulateTable(path) {

        $.ajax({
            url: path,
            data: 'GET',
            datatype: 'json',
            success: function (data) {
                var rows = '';
                $.each(data, function (i, item) {
                    rows += generateCell(item.ID, 1);
                    rows += generateCell(item.Name, 3);
                    rows += generateCell(item.Category.Name, 2)
                    rows += generateCell(item.Price, 2);
                    rows += generateCell(item.InStock, 2);
                    rows += generateCell(
                        generateButton('Sửa', 'info', "location.href='@Url.Action("EditProduct", "Staff")?productId=" + item.ID + "&success=" + false + "'")
                        + ' ' + generateButton('Xóa', 'danger', "deleteProduct(" + item.ID +")")
                        , 2);
                    rows = '<tr>' + rows + '</tr>';
                });

                tableListSach.html(rows);
            }
        });
    }

    function PopulateDropdownWithAny(path, id, index = '', value = -1, callback = null) {
        $.ajax({
            url: path,
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                var rows = '';

                rows += '<option value="' + 0 + '">' + "Tất cả" + '</option>';

                $.each(data, function (i, item) {
                    rows += '<option value="' + item.Key + '">' + item.Value + '</option>';
                });


                $("#" + id + index).html(rows);
                $("#" + id + index).attr('name', id + index);
                if (value > -1) {
                    $("#" + id + index).val(value);
                }
                $("#" + id + index).selectpicker('refresh');

                if (callback) {
                    callback();
                }
            },
            error: function (err) {
                alert("POP" + err.responseJSON);
            }
        });
        return $("#" + id + index);
    }

    function deleteProduct(id) {
        var confirmDelete = confirm("Bạn có chắc là muốn xoá");
        if (confirmDelete) {
            $.ajax({
                url: "/Products/DeleteProduct?id=" + id,
                type: "POST",
                dataType: 'json',
                success: function (data) {

                    dlMainSearch.trigger('change');

                    switch (data.Type) {
                        case 3: {
                            alert("Bạn đã xoá thành công");
                        }
                            break;
                        case 4: {
                            alert("Không hợp lệ");
                        }
                            break;
                    }
                },
                error: function (err) {
                    alert("Error: " + err.responseText);
                }
            });
        }
    }

</script>