﻿@model BookStore.Models.Publisher

@{
    ViewBag.Title = "Quản lý NXB/NSX";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <!-- Breadcrumb-->
        <nav aria-label="breadcrumb" role="navigation" style="margin-top: 20px">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/Staff/">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
            </ol>
        </nav>
        <!-- End Breadcrumb-->
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading" style="background-color:rgb(1, 85, 180); color:aliceblue">
        <i class="fa fa-tasks fa-fw"></i> Quản lý NXB/NSX
        <button type="button" style="float:right" class="btn btn-default btn-xs" onclick="location.href='@Url.Action("AddPublisher", "Staff")/'">Thêm</button>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" style="margin-bottom:0">
                <colgroup>
                    <col class="col-md-1" />
                    <col class="col-md-3" />
                    <col class="col-md-3" />
                    <col class="col-md-3" />
                    <col class="col-md-2" />
                </colgroup>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên NXB/NSX</th>
                        <th>Địa chi</th>
                        <th>Email</th>
                        <th></th>
                        <th style="width:16px"></th>
                    </tr>
                </thead>
            </table>
            <div style="height:300px;overflow: hidden; overflow-y:scroll;">
                <table class="table table-striped table-bordered table-hover" style="table-layout:fixed; word-wrap: break-word">
                    <colgroup>
                        <col class="col-md-1" style="word-wrap:break-word; white-space:normal" />
                        <col class="col-md-3" />
                        <col class="col-md-3" style="word-wrap:break-word; white-space:normal"  />
                        <col class="col-md-3" />
                        <col class="col-md-2" />
                    </colgroup>
                    <tbody id="list"></tbody>
                </table>
            </div>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>

<script src="~/Assets/js/jquery.js"></script>
<script src="~/Assets/js/moment.js"></script>
<script src="~/Scripts/helper.js"></script>

<script>
     // lúc đầu show web
    $(document).ready(function () {
        
        listPublishers();
    })

    function listPublishers() {
        $.ajax({
            url: '/Staff/GetPublishers',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                populateListPublisher(data);
            },
            error: function (err) {
                alert(err.responseJSON);
                document.write(err.responseText);
            }
        })
    }

    function populateListPublisher(data) {
        var rows = '';

        $.each(data, function (i, item) {
            rows += generateCell(item.ID, 1);
            rows += generateCell(item.Name, 3);
            rows += generateCell(item.Address, 3)
            rows += generateCell(item.Email, 3);
            rows += generateCell(
                generateButton('Sửa', 'info', "location.href='@Url.Action("EditPublisher", "Staff")?publisherId=" + item.ID + "&success=" + false + "'")
                + ' ' + generateButton('Xóa', 'danger', "deletePublisher(" + item.ID +")")
                , 2);
            rows = '<tr>' + rows + '</tr>';
        });

        $("#list").html(rows);
    }

    // ham delete order
    function deletePublisher(id) {
        var confirmDelete = confirm("Bạn có chắc là muốn xoá");
        if (confirmDelete) {
            $.ajax({
                url: "/Staff/DeletePublisher?publisherId=" + id,
                type: "POST",
                dataType: 'json',
                success: function (data) {

                    listPublishers();

                    switch (data.Type) {
                        case 3: {
                            alert("Bạn đã xoá thành công");
                        }
                            break;
                        case 4: {
                            alert("Không hợp lệ");
                        }
                            break;
                    }
                },
                error: function (err) {
                    alert("Error: " + err.responseText);
                }
            });
        }
    }
</script>