﻿
@{
    ViewBag.Title = "Liên hệ với Nhà sách AC";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<style>
    #map {
        height: 400px;
        width: 100%;
        margin-bottom: 20px;
    }
</style>
<div id="contact-page" class="container">
    <div class="bg">
        <div class="row" style="margin-top:30px">
            <div class="col-lg-12">
                <h2 class="title text-center">Liên hệ với <strong>chúng tôi</strong></h2>
                <div id="map"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="contact-form">
                    <h2 class="title text-center" style="margin-top:5px">Liên lạc</h2>
                    <div class="status alert alert-success" style="display: none"></div>
                    <form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" required="required" placeholder="Tên">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" name="email" class="form-control" required="required" placeholder="Email">
                        </div>
                        <div class="form-group col-md-12">
                            <input type="text" name="subject" class="form-control" required="required" placeholder="Tiêu đề">
                        </div>
                        <div class="form-group col-md-12">
                            <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Bạn muốn nhắn nhủ gì với chúng tôi"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="submit" name="submit" class="btn btn-primary pull-right" value="Gửi" onclick="alert('Xin cảm ơn bạn đã liên hệ với chúng tôi. Chúng tôi sẽ có phản hồi sớm nhất qua hộp thư điện tử.')">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-info">
                    <div class="social-networks">
                        <h2 class="title text-center"
                            style="margin-top:5px;margin-bottom:0px">
                            Liên kết
                        </h2>
                        <a target="_blank" href="https://www.uit.edu.vn">
                            <img style="object-fit:contain;width:100%;height:100%" src="https://www.uit.edu.vn/sites/vi/files/banner.png" />
                        </a>
                    </div>
                    <address>
                        <p style="text-align:center">
                            <a target="_blank" href="//se.uit.edu.vn/">Khoa Công nghệ Phần mềm</a>
                            <br />
                            <a target="_blank" href="//se.uit.edu.vn/">
                                <img style="background-color:#14223c;object-fit:contain;width:50%;height:50%" src="//se.uit.edu.vn/templates/mimety/images/logo.png" />
                            </a>
                            <br /><br /><br />Đồ án Quản lý nhà sách
                            <br />Nhóm 5
                            <br />Nền tảng: ASP.NET MVC5
                        </p>
                    </address>
                </div>
            </div>
        </div>
    </div>
</div><!--/#contact-page-->

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="~/Assets/js/gmaps.js"></script>

<script type="text/javascript">
    function initMap() {
        var uluru = { lat: 10.870228, lng: 106.803718 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }

    function onSearch() {
        if ($("#search_box").val())
            window.location = '/Search/Index?key=' + $("#search_box").val();
        else
            alert('Bạn vui lòng nhập từ khoá để tìm kiếm');
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key= AIzaSyBVyX5GffJrS5HjrMSI08vK9cR6-ZaI5mk&callback=initMap">
</script>






