﻿@{
    IList<BookStore.Models.Product> Products = ViewData["Products"] as IList<BookStore.Models.Product>;

}
@using System.Globalization;
@{
    ViewBag.Title = "Trang chủ | Nhà sách AC";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    CultureInfo ci = new CultureInfo("vi-VN");
}

<section>
    <div class="container">
        <div class="row">
            @Html.Partial("SideMenu", new ViewDataDictionary { { "Categories", ViewData["Categories"] }, { "Authors", ViewData["Authors"] } })

            <div class="col-lg-9 padding-right"  id="slider">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="1"></li>
                            <li data-target="#slider-carousel" data-slide-to="2"></li>
                            <li data-target="#slider-carousel" data-slide-to="3"></li>
                            <li data-target="#slider-carousel" data-slide-to="4"></li>
                            <li data-target="#slider-carousel" data-slide-to="5"></li>
                            <li data-target="#slider-carousel" data-slide-to="6"></li>
                            <li data-target="#slider-carousel" data-slide-to="7"></li>
                        </ol>
                    <div class="carousel-inner">
                        <div class="item active" style="padding-left:0">
                            <img src="~/Assets/images/home/slider1.jpg" />
                        </div>
                        <div class="item" style="padding-left:0">
                            <img src="~/Assets/images/home/slider2.png" />
                        </div>
                        <div class="item" style="padding-left:0">
                            <img src="~/Assets/images/home/slider3.jpg" />
                        </div>
                        <div class="item" style="padding-left:0">
                            <img src="~/Assets/images/home/slider4.jpg" />
                        </div>
                        <div class="item" style="padding-left:0">
                            <img src="~/Assets/images/home/slider5.jpg" />
                        </div>
                        <div class="item" style="padding-left:0">
                            <img src="~/Assets/images/home/slider6.png" />
                        </div>
                        <div class="item" style="padding-left:0">
                            <img src="~/Assets/images/home/slider7.jpg" />
                        </div>
                        <div class="item" style="padding-left:0">
                            <img src="~/Assets/images/home/slider8.jpg" />
                        </div>
                    </div>
                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>        
        <!--shipping-->
        <div class="shipping text-center" style="background:#fff">
            <img src="~/Assets/images/home/ad-image.jpg" />
        </div>
        <!--/shipping-->
        <div class="row">
            <div class="col-lg-12">      
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center" style="margin-top:10px">Các sản phẩm nổi bật</h2>
                    <div id="feature-items">
                        @foreach (var item in Products.Take(12))
                        {
                            <div class="col-lg-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            @if (string.IsNullOrEmpty(item.AvatarImage))
                                            {
                                                <img src="~/Assets/images/home/default-image.png"
                                                     style="height:100px;width:auto;object-fit:contain" />
                                            }
                                            else
                                            {
                                                <img style="max-height:100px;width:auto;object-fit:contain"
                                                     src="@Url.Content(item.AvatarImage)"
                                                     onerror="if (this.src != '/Assets/images/home/default-image.png') this.src = '/Assets/images/home/default-image.png';" />
                                            }
                                            <h2>@(item.Price.ToString("#,0.###", ci)) đ</h2>
                                            <p class="shorten-name">@item.Name</p>
                                            <a href="#" class="btn btn-default add-to-cart">
                                                <p hidden>@item.ID</p>
                                                <i class="fa fa-shopping-cart"></i>
                                                Thêm vào giỏ
                                            </a>
                                        </div>
                                        <div class="product-overlay">
                                            <div class="overlay-content">
                                                <h2>@(item.Price.ToString("#,0.###", ci)) đ</h2>
                                                <p><a href="/Products/Single?id=@item.ID">@item.Name</a></p>
                                                <a href="#" class="btn btn-default add-to-cart">
                                                    <p hidden>@item.ID</p>
                                                    <i class="fa fa-shopping-cart"></i>
                                                    Thêm vào giỏ
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Assets/js/jquery.js" type="text/javascript"></script>
<script src="~/Assets/js/moment.js" type="text/javascript"></script>
<script src="~/Scripts/helper.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        showPopUp();
    })

    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function showPopUp() {
        var cookie = getCookie("first_view");
        if (!cookie) {
            alert("Đây là website đồ án môn học. Bạn có thể sử dụng các tính năng của website này, nhưng mọi hàng hoá ở đây chỉ là ảo.\n\nBản quyền thuộc trường Đại học Công nghệ thông tin - Đại học Quốc gia thành phố Hồ Chí Minh.");
            setCookie("first_view", 1, 1);
        }
    }

    $("#feature-items").on("click", ".add-to-cart", function (event) {
        event.preventDefault();
        var selected_product = $(this).children('p').text();
        updateCart("add", selected_product, event)
    });

    function onSearch() {
        if ($("#search_box").val())
            window.location = '/Search/Index?key=' + $("#search_box").val();
        else
            alert('Bạn vui lòng nhập từ khoá để tìm kiếm');
    }
</script>
