﻿
@{
    ViewBag.Title = "Đặt hàng | Nhà sách AC";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>
<section id="cart_items">
    <div class="container">
        
        <div class="row" style="margin-top:30px">
            <div class="col-lg-7">
                <div class="table-responsive cart_info">
                    <table class="table table-condensed table-fixed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="image col-lg-2">Sản phẩm</td>
                                <td class="description col-lg-3"></td>
                                <td class="price col-lg-2">Đơn giá</td>
                                <td class="quantity col-lg-2">Số lượng</td>
                                <td class="total col-lg-2">Tổng cộng</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody class="cart-body"></tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="chose_area">
                    <div class="shopper-informations">
                        <div class="col-lg-12">
                            <div class="shopper-info">
                                <p>Thông tin khách hàng</p>
                                <form>
                                    <input id="first_name" type="text" placeholder="Tên">
                                    <input id="last_name" type="text" placeholder="Họ">
                                    <input id="telephone" type="text" placeholder="Số điện thoại">
                                    <input id="email" type="text" placeholder="Email">
                                    <input id="address" type="text" placeholder="Địa chỉ">
                                </form>
                            </div>
                            <div class="total_area">
                                <ul style="padding-left:0">
                                    <li>Tổng giá trị đơn hàng <span id="cost">Đang tải...</span></li>
                                    <li>Phí vận chuyển <span id="shipping_fee">Đang tải...</span></li>
                                    <li class="hidden">Tổng <span id="total">0 đ</span></li>
                                </ul>
                            </div>
                        </div>
                        <a class="btn btn-default update" onclick="updateCustomer()">Cập nhật</a>
                        <a class="btn btn-default open_map" data-toggle="modal" data-target="#mapModal" onclick="showMap()" >Mở bản đồ</a>
                        <a class="btn btn-default check_out" onclick="checkout()">Cập nhật và mua hàng</a>
                        <div id="map-modal">
                            <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="mapModalLabel">Check Your Location</h5>
                                        </div>
                                        <div class="modal-body">
                                            <div id="map"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section> <!--/#cart_items-->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="~/Assets/js/gmaps.js"></script>

<script type="text/javascript">
    function initMap() {
        var uluru = { lat: 10, lng: 106};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }

    function showMap() {
        setTimeout(function () { google.maps.event.trigger(map, 'resize'); }, 1000);
    }
    

    $(document).ready(function () {
        getCart("main");
        populateCheckoutInfo();
    })

    function populateCheckoutInfo() {

        $.ajax({
            url: '/Cart/GetCustomer',
            type: 'GET',
            dataType: 'json',
            data: { "id": null },
            success: function (customer) {
                $('#first_name').val(customer.FirstName);
                $('#last_name').val(customer.LastName);
                $('#telephone').val(customer.PhoneNumber);
                $('#email').val(customer.Email);
                $('#address').val(customer.Address);
            },
            error: function (err) {
                alert(err.responseJSON);
                document.write(err.responseText);
            }
        });

        $.ajax({
            url: '/Cart/GetCart',
            type: 'GET',
            dataType: 'json',
            data: {
                "id": null,
                "depth": null
            },
            success: function (cart) {
                $('#cost').html((cart.TotalAmount / 1000).toLocaleString() + "k đ");
                $('#shipping_fee').html("5k/km");
            },
            error: function (err) {
                alert(err.responseJSON);
                document.write(err.responseText);
            }
        });        
    }

    

    function checkout() {
        updateCustomer();

        $.ajax({
            url: '/Cart/Checkout',
            type: 'POST',
            dataType: 'json',
            success: function (response) {
                if (response.success == true) {
                    alert(response.text);
                    window.location = '/Home/';
                }
                else {
                    alert(response.text);
                }
            },
            error: function (err) {
                alert(err.responseJSON);
                document.write(err.responseText);
            }
        }); 
    }


    function updateCustomer() {

        var firstName = $('#first_name').val();
        var lastName = $('#last_name').val();
        var phone = $('#telephone').val();
        var email = $('#email').val();
        var address = $('#address').val();

        $.ajax({
            url: '/Cart/UpdateCurrentCustomer',
            type: 'POST',
            dataType: 'json',
            data: {
                "firstName": firstName,
                "lastName": lastName,
                "telephone": phone,
                "email": email,
                "address": address
            },
            success: function (response) {
                alert(response.text);
            },
            error: function (err) {
                alert(err.responseJSON);
                document.write(err.responseText);
            }
        }); 
    }

    $(".cart-body").on("click", "tr>td>div>.cart_quantity_up", function (event) {
        event.preventDefault();
        var productID = $(this).parent().children('p').text();
        updateCart("add", productID, event)
    });

    $(".cart-body").on("click", "tr>td>div>.cart_quantity_down", function (event) {
        event.preventDefault();
        var productID = $(this).parent().children('p').text();
        updateCart("minus", productID, event)
    });

    $(".cart-body").on("click", "tr>td>.cart_quantity_delete", function (event) {
        event.preventDefault();
        var productID = $(this).parent().children('p').text();
        updateCart("delete", productID, event)
    });

    function onSearch() {
        if ($("#search_box").val())
            window.location = '/Search/Index?key=' + $("#search_box").val();
        else
            alert('Bạn vui lòng nhập từ khoá để tìm kiếm');
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfT4iQDERkZtWZC0YjWCUFh4pM6nJVHkM&callback=initMap">
</script>