﻿@model IEnumerable<BookStore.Models.Product>
@using System.Globalization;
@{
    ViewBag.Title = "Tìm kiếm sản phẩm | Nhà sách AC";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    CultureInfo ci = new CultureInfo("vi-VN");
}

@*<h2>Index</h2>


    @using (Html.BeginForm("Index", "Search", FormMethod.Get, new { @style = "margin:7px" }))
    {
        <input name="key" placeholder="Nhập từ khoá" type="text" />
        <input name="costBegin" placeholder="Giá bắt đầu" type="number" />
        <input name="costEnd" placeholder="Giá kết thúc" type="number" />
        <button type="submit">Tìm</button>
    }*@
<section>
    <div class="container">
        <div class="row">
            @Html.Partial("SideSearch")
            <div id="search_result" class="col-lg-9 padding-right">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center" style="height:230px">
                                    @if (string.IsNullOrEmpty(item.AvatarImage))
                                    {
                                        <img style="height:150px;width:100%;object-fit:contain"
                                             src="/Assets/images/home/default-image.png" />
                                    }
                                    else
                                    {
                                        <img style="height:150px;width:100%;object-fit:contain"
                                             src="@Url.Content(item.AvatarImage)"
                                             onerror="if (this.src != '/Assets/images/home/default-image.png') this.src = '/Assets/images/home/default-image.png';"/>
                                    }
                                    <h2>@(item.Price.ToString("0,0.###", ci)) đ</h2>
                                    <p class="shorten-name"><b>@item.Name</b></p>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>@(item.Price.ToString("0,0.###", ci)) đ</h2>
                                        <p><a href="/Products/Single?id=@item.ID">@item.Name</a></p>
                                        <a href="#" class="btn btn-default add-to-cart" onclick="updateCart('add',@item.ID, event)">
                                            <p hidden>@item.ID</p>
                                            <i class="fa fa-shopping-cart"></i>
                                            Thêm vào giỏ
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<link href="~/Assets/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Assets/css/price-range.css" rel="stylesheet">
<script src="~/Assets/js/price-range.js" type="text/javascript"></script>
@*<script src="~/Assets/js/jquery-3.1.1.min.js" type="text/javascript"></script>*@


<script>
    function onSearch() {
        var text = $('#search_box').val();
        var author = $('#ddl_author').val();
        var category = $('#ddl_category').val();
        var costBegin = $('#ex2').val().split(',')[0];
        var costEnd = $('#ex2').val().split(',')[1]; //$('#cost_end').val()
        $.ajax({// lấy dữ liệu từ link này
            url: '/Search/Search/',
            type: 'GET',
            dataType: 'json',// kiểu dữ liệu: json
            data: {
                "key": text,
                "authorId": author,
                "categoryId": category,
                "costBegin": costBegin,
                "costEnd": costEnd,
            },
            success: function (data) {// lấy dữ liệu thành công
                if (data == null) {
                    alert('Không tìm thấy');
                    return;
                }

                var items = '';
                $.each(data, function (i, item) {
                    items += genItem(item);
                });

                $('#search_result').html(items);
            },
            error: function (err) {// lỗi
                if (err.responseText)
                    alert(err.responseText);
                else {
                    $('#search_result').html('');
                    alert('Không tìm thấy kết quả');
                }
            }
        });

    }
    function genItem(item) {
        var content =
            '<div class="col-lg-3">\
                <div class="product-image-wrapper">\
                    <div class="single-products">\
                        <div class="productinfo text-center" style="height:230px">'

        if (!item.AvatarImage)
            content += '<img style="height:150px;width:100%;object-fit:contain" src="/Assets/images/home/default-image.png" alt="Không có hình" />'
        else
            content += '<img style="height:150px;width:100%;object-fit:contain" onerror="' + "if (this.src != '/Assets/images/home/default-image.png') this.src = '/Assets/images/home/default-image.png';" + '" src="' + item.AvatarImage.replace("~", "") + '" />'

        content +=
            '<h2>' + (item.Price).toLocaleString() + ' đ</h2>\
                            <p><b>' + item.Name + '</b></p>\
                        </div>'
            +
            '<div class="product-overlay">\
                            <div class="overlay-content">\
                                <h2>' + (item.Price).toLocaleString() + ' đ</h2>\
                                <p><a href="/Products/Single?id='+ item.ID + '">' + item.Name + '</a></p>\
                                <a href="#" class="btn btn-default add-to-cart" onclick="updateCart(' + "'add'," + item.ID + ', event)">\
                                    <i class="fa fa-shopping-cart"></i>\
                                    Thêm vào giỏ\
                                </a>\
                            </div>\
                        </div>\
                    </div>\
                </div>\
            </div>'
        return content;
    };

</script>