﻿<footer id="footer">
    <!--Footer-->
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="subscribe">
                        <div>
                            <h2>THEO DÕI SHOP</h2>
                            <p>Chúng tôi sẽ gửi thông tin về các sản phẩm và khuyến mãi mới qua email</p>
                        </div>
                        <form action="#" class="searchform">
                            <input type="text" placeholder="Nhập email bạn hay dùng" />
                            <button type="submit" class="subscribe-button">Đăng ký</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="single-widget">
                        <h2>HỖ TRỢ KHÁCH HÀNG</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Các câu hỏi thường gặp</a></li>
                            <li><a href="#">Gửi yêu cầu hỗ trợ</a></li>
                            <li><a href="#">Hướng dẫn đặt hàng</a></li>
                            <li><a href="#">Phương thức vận chuyển</a></li>
                            <li><a href="#">Chính sách đổi trả</a></li>
                            <li><a href="#">Hướng dẫn mua trả góp</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single-widget">
                        <h2>HỒ CHÍ MINH</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Chi nhánh Quận 1</a></li>
                            <li><a href="#">Chi nhánh Quận 5</a></li>
                            <li><a href="#">Chi nhánh Bình Thạnh</a></li>
                            <li><a href="#">Chi nhánh Thủ Đức</a></li>
                            <li><a href="#">Chi nhánh Quận 3</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single-widget">
                        <h2>KHÁC</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Điều khoản sử dụng</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Chính sách hoàn tiền</a></li>
                            <li><a href="#">Thanh toán</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single-widget">
                        <h2>VỀ CHÚNG TÔI</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="/Contact/">Thông tin công ty</a></li>
                            <li><a href="/Contact/">Liên kết</a></li>
                            <li><a href="/Contact/">Bản quyền</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer><!--/Footer-->
