﻿@{
    IList<BookStore.Models.Product> Products = ViewData["Products"] as IList<BookStore.Models.Product>;
    
}
@using System.Globalization;
@{
    ViewBag.Title = ViewData["CategoryName"] +  " | Nhà sách AC";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    CultureInfo ci = new CultureInfo("vi-VN");
}
<div style="height:30px"></div>
<section>
    <div class="container">
        <div class="row">
            @Html.Partial("SideMenu", new ViewDataDictionary { { "Categories", ViewData["Categories"] }, { "Authors", ViewData["Authors"] } })

            <div class="col-lg-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center" style="margin-top:10px">@ViewData["CategoryName"]</h2>
                    <div id="category-items">
                        @foreach (var item in Products)
                        {
                            <div class="col-lg-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            @if (string.IsNullOrEmpty(item.AvatarImage))
                                            {
                                                <img src="~/Assets/images/home/default-image.png"
                                                     style="height:100px;width:auto;object-fit:contain" />
                                            }
                                            else
                                            {
                                                <img style="max-height:100px;width:auto;object-fit:contain"
                                                     src="@Url.Content(item.AvatarImage)"
                                                     onerror="if (this.src != '/Assets/images/home/default-image.png') this.src = '/Assets/images/home/default-image.png';"/>
                                            }
                                            <h2>@(item.Price.ToString("#,0.###", ci)) đ</h2>
                                            <p class="shorten-name">@item.Name</p>
                                            <a href="#" class="btn btn-default add-to-cart">
                                                <p hidden>@item.ID</p>
                                                <i class="fa fa-shopping-cart"></i>
                                                Thêm vào giỏ
                                            </a>
                                        </div>
                                        <div class="product-overlay">
                                            <div class="overlay-content">
                                                <h2>@(item.Price.ToString("#,0.###", ci)) đ</h2>
                                                <p><a href="/Products/Single?id=@item.ID">@item.Name</a></p>
                                                <a href="#" class="btn btn-default add-to-cart">
                                                    <p hidden>@item.ID</p>
                                                    <i class="fa fa-shopping-cart"></i>
                                                    Thêm vào giỏ
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

<script src="~/Assets/js/jquery.js" type="text/javascript"></script>
<script src="~/Assets/js/moment.js" type="text/javascript"></script>
<script src="~/Scripts/helper.js" type="text/javascript"></script>
<script>
    

    $("#category-items").on("click", ".add-to-cart", function (event) {
        event.preventDefault();
        var selected_product = $(this).children('p').text();
        updateCart("add", selected_product, event)
    });

    function onSearch() {
        if ($("#search_box").val())
            window.location = '/Search/Index?key=' + $("#search_box").val();
        else
            alert('Bạn vui lòng nhập từ khoá để tìm kiếm');
    }
</script>
